.pater {
	position: absolute;
	top: 0px;
	left: 12rem;
	width: 454px;
	height: 200px;
	pointer-events: none;
	display: none;
}
.pater::before {
	content: 'Our Sponsor';
	position: absolute;
	z-index: 100;
	font-size: 0.75rem;
	left: 4rem;
	top: 7px;
	color: #606060;
}
.pater a, .pater a:hover {
	color: #969696;
	pointer-events: auto;
}
.pater__bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.pater__img {
	width: 26%;
	height: 25%;
	left: 16%;
	top: 20px;
	background: url(airtable.svg) no-repeat 50% 50%;
	position: absolute;
	background-size: 100%;
}
.pater__title {
	position: relative;
	margin: 5rem 0 0 6.25rem;
	display: block;
}
.pater__description {
	margin: 0.75rem 6rem 0 7rem;
	position: relative;
	font-size: 0.85rem;
	display: block;
}
.pater__text {
	width: calc(100% - 130px);
}
.pater__deco {
	float: left;
	shape-outside: polygon(0px 0px, 4px 111px, 62px 110px);
	height: 100px;
	width: 62px;
}
.pater__deco--right {
	float: right;
	shape-outside: polygon(61px 0px, 3px 100px, 60px 100px);
}
.pater__remove {
	color: #4a4a4a;
	background: none;
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute;
	top: 6px;
	right: 35px;
	z-index: 100;
	font-size: 1.5rem;
	pointer-events: auto;
}
.pater__remove:hover,
.pater__remove:focus {
	color: #fff;
	outline: none;
}
.main {
	background-color: #e5e5e5;
}
#main {
	scroll-behavior: smooth;
}
.header {
	background-image: 
		url(./../img/bg_grad__dark-blue.png),
		url(./../img/bg_grad__dark-blue.png),
		url(./../img/bg_grad__dark-blue.png),
		url(./../img/bg_n.png);
	background-position: center;
	background-repeat: no-repeat;
	background-blend-mode: multiply;
	background-size: cover;
	width: 100vw;
	/* height: calc(100vh - 10em); */
	height: 100vh;
	min-height: 480px; /* 800 */
	display: grid;
	grid-template-columns: 1fr auto;
	grid-template-rows: auto 1fr auto;
	grid-template-areas: 
    "headline brand"
    "subline . "
    "scroll-down scroll-down";
}
@media screen and (max-width: 1100px){
	.header {
		background-image: 
		url(./../img/bg_grad__dark-blue.png),
		url(./../img/bg_grad__dark-blue.png),
		url(./../img/bg_grad__dark-blue.png),
		url(./../img/bg_n.png);
		background-position: left top;
		background-size: cover;
		width: 100vw;
		height: 100vh;
		grid-template-columns: 1fr;
		grid-template-rows: auto auto 1fr auto;
		grid-template-areas: 
			"brand"
			"headline"
			"subline"
			"scroll-down";
	}
	/* .container {
		top: calc(25% + 20px);
		bottom: 20px;
	} */
	.title > img {
		width: calc(100vw - 20px);
		height: auto;
		margin: 0 auto;
	}
	.arrow_down > a > img {
		width: 75px;
	} 
}
.brand, 
.headline, 
.subline, 
.scroll-down {
	padding: 0 75px;
}
.brand {
	grid-area: brand;
	/* background-color: aqua; */
}
.brand > img {
	width: 175px;
 	height: 175px;
}
.lang-nav {
	padding: 10px;
	color:#fff;
	background-color: rgba(0, 0, 0, .75);
	font-weight: bold;
	width: 7em;
	text-align: center;
}
.lang-nav a {
	color: #969696;
}
.lang-nav a:hover {
	color:deepskyblue;
}
.headline {
	grid-area: headline;
/* 	background-color: bisque; */
	padding-top: 60px;
}
.headline > h1 {
	margin-top: 20px;
	/* padding-top: 0; */
}
.subline {
	grid-area: subline;
	/* background-color: coral; */
}
.subline p a {
	color: deepskyblue;
	text-decoration: underline;
}
.subline p a:hover {
	color: #fff;
}
.scroll-down {
	grid-area: scroll-down;
	/* justify-self: center;
	align-self: center; */
	place-self: center;
	padding-top: 10px;
	padding-bottom: 50px;
}
@media screen and (max-width: 600px){
	.arrow_down > a > img {
		width: 50px;
	} 
}
@media screen and (max-width:1100px){
	.brand, 
	.headline, 
	.subline, 
	.scroll-down {
		padding: 0 30px;
	}
	.brand {
		grid-area: brand;
		/* background-color: aqua; */
	}
	.brand > img {
		width: 100px;
		height: 100px;
	}
	.headline {
		grid-area: headline;
	/* 	background-color: bisque; */
		padding-top: 15px;
	}
	.subline {
		grid-area: subline;
		/* background-color: coral; */
	}
	.scroll-down {
		grid-area: scroll-down;
		/* justify-self: center;
		align-self: center; */
		place-self: center;
		padding-top: 10px;
		padding-bottom: 50px;
	}
	.scroll-down img {
		width: 75px;
		height: 75px;
	}
}
@media screen and (max-width:600px){
	.brand, 
	.headline, 
	.subline, 
	.scroll-down {
		padding: 0 15px;
	}
	.brand {
		grid-area: brand;
		/* background-color: aqua; */
	}
	.brand > img {
		width: 100px;
		height: 100px;
	}
	.headline {
		grid-area: headline;
	/* 	background-color: bisque; */
		padding-top: 15px;
	}
	.subline {
		grid-area: subline;
		/* background-color: coral; */
	}
	.scroll-down {
		grid-area: scroll-down;
		/* justify-self: center;
		align-self: center; */
		place-self: center;
		padding-top: 10px;
		padding-bottom: 50px;
	}
	.scroll-down img {
		width: 50px;
		height: 50px;
	}
}
.headline > h1 {
	font-family: "Aino-Headline";
	font-style: normal;
	font-weight: normal;
	font-size: 64px;
	line-height: 64px;
	text-transform: uppercase;
	color: #fff;
}
.subline > p {
	font-family: "Aino";
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 32px;
	color: #fff;
}
@media screen and (max-width:1650px){
	.headline > h1 {
		font-size: 56px;
		line-height: 56px;
	}
	.subline > p {
		font-size: 22px;
		line-height: 28px;
	}
	.scroll-down {
		grid-area: scroll-down;
		/* justify-self: center;
		align-self: center; */
		place-self: center;
		padding-top: 10px;
		padding-bottom: 50px;
	}
	.scroll-down img {
		width: 50px;
		height: 50px;
	}
}
@media screen and (max-width:992px){
	.headline > h1 {
		font-size: 38px;
		line-height: 38px;
	}
	.subline > p {
		font-size: 20px;
		line-height: 28px;
	}
	.scroll-down {
		grid-area: scroll-down;
		/* justify-self: center;
		align-self: center; */
		place-self: center;
		padding-top: 10px;
		padding-bottom: 50px;
	}
	.scroll-down img {
		width: 50px;
		height: 50px;
	}
}
@media screen and (max-width:600px){
	.headline > h1 {
		font-size: 34px;
		line-height: 34px;
	}
	.subline > p {
		font-size: 18px;
		line-height: 24px;
	}
}
span.close {position: absolute;left: auto;right: 57px;top: 68px;cursor: pointer;opacity: 0;pointer-events: none}
.container {
	position: relative;
	background-color: #fff;
	/* padding: 1em 0; */
}
.footer {
	/* background-image: url(../img/winter_landscape.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain; */
	background-color: #fff;
	width: 100vw;
	/* height: calc(100vh - 10em); */
/* 	height: 100vh; */
	min-height: 480px; /* 800 */
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto 1fr auto;
	justify-items: center;
	align-items: center;
	grid-template-areas: 
    "social"
    "landscape"
    "copy";
}
.social {
	grid-area: social;
	padding-top: 50px;
	/* background-color: aqua; */
}
.landscape {
	grid-area: landscape;
	width: 100vw;
	height: auto;
	/* background-color: bisque; */
}
.copy {
	grid-area: copy;
	padding-bottom: 20px;
	text-align: center;
/* 	margin-top: -20px;
	z-index: 100; */
	/* background-color: coral; */
}
.copy p {
	font-family: "Aino";
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
	color: #0000F0;
}
.logo > img {
	width: 125px;
	height: 35px;
}
/* Lottie player */
lottie-player {
/* 	width: 100vw; */
	height: 80vh;
	position: relative;
	/* z-index:-999; */
}
@media screen and (max-width:992px){
	lottie-player {
	/* 	width: 100vw; */
		height: 60vh;
		position: relative;
		/* z-index:-999; */
	}
}
@media screen and (max-width:600px){
	lottie-player {
	/* 	width: 100vw; */
		height: 40vh;
		position: relative;
		/* z-index:-999; */
	}
}
.container > img {
	max-width: 100%;
	height: auto;
}
.container .position-center {
	position: absolute;
	top: calc(20% + 10px);
	left: 0;
	right: 0;
	/* bottom: 10px; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.title {
	align-self: center;
}
.title > img {
	width: 860px;
	height: 384px;
}
.arrow_down > a > img {
	width: 100px;
} 
@media screen and (min-width: 53em) {
	
	.pater-mobile {
		display: none;
	}
	.pater {
		display: block;
	}
}